<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
>
	<testsuites>
		<testsuite name="wp-artifacts">
			<directory suffix="Test.php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
